<h3>Create Room</h3>
<div [hidden]="submitted" style="width: 400px">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">name</label>
      <!-- prettier-ignore -->
      <input type="text" class="form-control" id="name" required [(ngModel)]= "room.name" name="name"/>
    </div>
    <div class="form-group">
      <label for="name">date</label>
      <!-- prettier-ignore -->
      <input type="text" class="form-control"  id="date" required [(ngModel)]= "room.date" name="date"/>
    </div>
    <div class="form-group">
      <label for="name">startHour</label>
      <!-- prettier-ignore -->
      <input type="text" class="form-control"  id="startHour" required [(ngModel)]= "room.startHour" name="startHour"/>
    </div>
    <div class="form-group">
      <label for="name">endHour</label>
      <!-- prettier-ignore -->
      <input type="text" class="form-control"  id="endHour" required [(ngModel)]= "room.endHour" name="endHour"/>
    </div>
    <button class="btn btn-success" (click)="newRoom()">Add</button>
  </form>
</div>
